<div class="login-page">
  <div class="logo-container">
    <img src="http://localhost:3001/img/ford.png" alt="Ford Logo" class="logo">
  </div>
  
  <div class="content-container">
    <div class="car-image">
      <img src="http://localhost:3001/img/ranger.png" alt="Ranger" class="car">
    </div>
    
    <div class="login-container">
      <div class="card">
        <h2>Boas Vindas</h2>
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="username">Insira seu e-mail</label>
            <input type="text" id="username" [(ngModel)]="username" name="username" required>
          </div>
          <div class="form-group">
            <label for="password">Insira sua senha</label>
            <input type="password" id="password" [(ngModel)]="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>