<div class="home-container">
  <div class="logo-container">
    <img src="http://localhost:3001/img/ford.png" alt="logo" class="logo">
  </div>
  
  <div class="background-image">
    <img src="http://localhost:3001/img/ranger.png" alt="Ford Ranger" class="car-image">
  </div>
  
  <div class="content-center">
    <app-card class="home-card" titulo="Sistema de dados da Ford">Seja Bem vindo(a)</app-card>
    
    <div class="dashboard-link" (click)="acessarDashboard()">
      <a routerLink="/dashboard">Acessar Dashboard</a>
    </div>
    <div class="dashboard-link" (click)="retornarLogin()">
      <a routerLink="/dashboard">Retornar ao início</a>
    </div>
  </div>
</div>

