<div class="dashboard-container">
    <div class="search-card card">
      <h3>Buscar Veículo</h3>
      <div style="display: flex; flex-direction: row; gap: 1rem; overflow-x: auto;">
        <app-card titulo="Veículo" class="dash-card">
          <div class="card-form">
            <form [formGroup]="selecionarCarro">
              <select name="" id="" formControlName = "lista">
                <option value=""></option>
                <option *ngFor="let carro of carrosList" [value]="carro.id">{{carro.vehicle}}</option>
              </select>
            </form>
          </div>
        </app-card>
        <app-card class="dash-card" titulo="Total de Vendas">{{ totalvenda }}</app-card>
        <app-card class="dash-card" titulo="Conectados">{{ connected }}</app-card>
        <app-card class="dash-card" titulo="Update Software">{{ softwareUpdates }}</app-card>
      </div>

      <div *ngIf="vehicleImage" style="text-align: center; margin-top: 2rem;">
        <img [src]="vehicleImage" alt="Imagem do veículo selecionado" style="max-width: 300px;">
      </div>
      
      <!-- <input type="text" placeholder="Digite o nome do modelo">
      <div class="vehicle-options">
        <div *ngFor="let vehicle of vehicles " 
             class="vehicle-option" 
             (click)="onVehicleSelect(vehicle)">
          {{ vehicle.nome }}
        </div>
      </div>
    </div> -->
  
    <!-- <div *ngIf="selectedVehicle" class="stats-container">
      <div class="stat-card card">
        <h4>Total de Vendas</h4>
        <p>{{ selectedVehicle.vendas }}</p>
      </div>
      <div class="stat-card card">
        <h4>Veículos Conectados</h4>
        <p>{{ selectedVehicle.conectados }}</p>
      </div>
      <div class="stat-card card">
        <h4>Software Atualizado</h4>
        <p>{{ selectedVehicle.atualizados }}</p>
      </div>
    </div> -->
  
    <!-- <div *ngIf="selectedVehicle" class="vehicle-image">
      <img [src]="'assets/' + selectedVehicle.imagem" [alt]="selectedVehicle.nome">
    </div>
   -->
    <div class="data-table card">
      <h3>Dados dos Veículos</h3>
      <input type="text" placeholder="Buscar por código">
      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Modelo</th>
            <th>Status</th>
            <th>Última Atualização</th>
            <th>Versão Software</th>
          </tr>
        </thead>
        <tbody>
         
        </tbody>
      </table>
    </div>
  </div>